* {
  min-width: 0;
  margin: 0px;
}

body {
  min-height: 100dvh;
  background-color: #666;
  color: #dddddd;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  overflow: visible;
}

input {
  text-align: center;
  background-color: #444;
  text-transform: uppercase;
  color: #dddddd;

  outline: none;
  border: none;
  border-radius: 5px;
  padding: 2px;
}

input:focus {
  border: none;
  border-bottom: 2px solid red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

#container-ramps,
#container-settings {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5em;

  overflow-y: scroll;

  padding: 10px;
  margin-bottom: 60px;
}

.ramp-entry {
  display: flex;
  justify-content: center;
  gap: .5em
}

.container-number {
  width: 10%;
}

.button,
.square-button {
  width: max-content;
  background-color: #444;
  border-radius: 10px;
  padding: 5px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-button {
  aspect-ratio: 1 / 1;
  font-size: 1.5em;
  padding: 0.3em;
}

.button:hover,
.square-button:hover {
  cursor: pointer;
}

#data-button {
  border: 1px solid #007500;
}

#clear-data-button {
  border: 1px solid #750000;
}

/* #settings-button {
  position: absolute;
  size: 35px;
  top: 10px;
  right: 10px;
  z-index: 1;
} */

#popup {
  opacity: 0.8;
  text-align: center;
  font-size: 18px;
  width: max-content;
  height: max-content;
  background-color: #666;
  border: 2px solid #BBBB00;
  border-radius: 10px;
  padding: 5px;
  position: fixed;
  inset: 20% 50%;
  transform: translate(-50%);
}

#ramp-range-input-wrapper {
  display: flex;
  justify-content: center;
  gap: .5em;
  text-size-adjust: 100%;
}


#nav-bar {
  background-color: #555555;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 1em;
}
